body {
  margin: 0% !important;
  display: grid !important;
}

#root {
  position:relative;
  min-height: 1080px;
  width: 100%;
}

/* 다크 모드 */
@media (prefers-color-scheme: dark) {
  body {
    background: #333;
  }

  #root {
    background: #333;
    color: white;
  }
}
/* 라이트 모드 */
@media (prefers-color-scheme: light) {
  body {
    background: whitesmoke;
  }
  #root {
    background: whitesmoke;
    color: #333;
  }
}

footer {
  position:fixed;
  bottom: 0%;
  right:0%;
  z-index: 4;
  text-align: center;
  font-size:small;
}
