

#header {
  display: inline-flex;
  position: fixed;
  z-index: 8;
  width: 100%;
  top: 0px;
  left: 0%;
  right: 0%;
  bottom: 0%;
  height: 32px;
  vertical-align: middle;
  background-color: #00a500;
  color: whitesmoke;
}

#header img {
  display: inline;
  background-color:black;
}

#header #header-text {
  vertical-align: middle;
  margin: 2px;
}
